/* Aplica JetBrains Mono a los bloques de código en modo edición */
.cm-s-obsidian pre, .cm-s-obsidian code {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 14px;
}

/* Aplica JetBrains Mono a los bloques de código en modo vista previa */
.markdown-preview-view pre, .markdown-preview-view code {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 14px;
}

@media print {
  html, body {
    background-color: #121212 !important;
    color: white !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .markdown-preview-view {
    background-color: #121212 !important;
    color: white !important;
    width: 100%;
    height: 100%;
  }

  .markdown-preview-view pre,
  .markdown-preview-view code {
    background-color: #121212 !important;
    color: white !important;
  }

  img {
    filter: none !important; /* Mantener los colores originales de las imágenes */
  }

  /* Asegurar que los bloques no se corten */
  * {
    page-break-inside: avoid;
  }
}
